@use 'base/variables' as v;
@use 'base/mixins' as m;

.acciones{
    margin-top: v.$separacion;

    @include m.tablet {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    a{
        text-align: center;
        display: block;
        margin-bottom: calc(v.$separacion / 2);
        color: v.$blanco;
    }
}